body {
    font-family: 'Lato', sans-serif;
}

h1 {
    text-align: center !important;
    padding-top: 25px !important;
}

.wrapper{
    text-align: center;
}
p {
    margin-top: 10px;
    text-align: center !important;
}
hr {
    margin: 50px auto;
    width: 250px;
    padding: 1px;
    color: 	#808080;
}
#header {
    background-color: #154c79;
    height: 225px;
    line-height: 225px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 36px;
}
#footer {
    background-color: #154c79;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: white;
    font-size: 16px;
}
#game-board {
    width: 250px;
    height: 250px;
    margin: 25px auto;
    background-color: #34495e;
    color: #fff;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    border: 1px solid #9E9E9E;
    border-radius: 5px;
}
#game-state-info {
    text-align: center;
    margin: 25px 0px;
}
#settings {
    background-color: grey;
}
.cell {
    font-weight: bold;
    font-size: 48px;
    color: rgb(240,240,240);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #9E9E9E;
    filter: brightness(100%);
    transition: all .05s ease-in-out;
}
.cell:hover:not(.playerCell):not(.aiCell):enabled {
    cursor: pointer;
    filter: brightness(96%);
    transition: all .05s ease-in-out;
}
.blankCell {
    background-color: white;
}
.playerCell {
    color: #54AB57;
}
.aiCell {
    color: #D7282F;
}
.playerCell:hover, .aiCell:hover {
    cursor: initial;
}
#game-container {
    margin: 0px;
    max-width: 100%;
    padding: 0px;
    background-color: rgb(248,248,248);
}
#game-board-form {
    text-align: center;
    margin: 70px;
}
#about-container {
    text-align: center;
    padding: 75px 100px;
}
#about-container h2, 
#about-container h3 {
    margin-bottom: 25px;
}
#about-inner {
    width: 700px;
    margin: 0 auto;
    line-height: 32px;
    font-size: 18px;
}
#about-container figure {
    margin: 45px 0px;
    text-align: center;
}
#about-container figcaption {
    margin-top: 20px;
}
#about-inner p,
#about-inner ol {
    text-align: left !important;
}
#controls {
    background-color: white;
    padding: 18px 75px 22px 75px;
    margin: 0 auto;
    box-shadow: 0 1px 6px rgb(0 0 0 / 8%);
}
#controls div.row {
    max-width: 1200px;
    margin: 0 auto;
}
.form-label {
    color: grey;
}
#mcts-algorithm-diagram {
    width: 100%;
}
#selection-expansion-diagram {
    width: 600px;
}
#rollout-diagram {
    width: 450px;
}