body {
    font-family: 'Lato', sans-serif;
}

h1{
    text-align: center !important;
    padding-top: 25px !important;
}

.wrapper{
    text-align: center;
}
p {
    margin-top: 10px;
    text-align: center !important;
}
#header {
    background-color: #154c79;
    height: 200px;
    line-height: 200px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 36px;
}
#footer {
    background-color: #154c79;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: white;
    font-size: 14px;
}
#game-board {
    width: 250px;
    height: 250px;
    margin: 25px auto;
    background-color: #34495e;
    color: #fff;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
#game-state-info {
    text-align: center;
    margin: 25px 0px;
}
#settings {
    background-color: grey;
}
.cell {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 28px;
    color: rgb(240,240,240);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid grey;
    filter: brightness(100%);
}
.cell:hover:not(.playerCell):not(.aiCell):enabled {
    cursor: pointer;
    filter: brightness(84%);
}
.blankCell {
    background-color: white;
}
.playerCell {
    background-color: #54AB57;
}
.aiCell {
    background-color: #D7282F;
}
.playerCell:hover, .aiCell:hover {
    cursor: initial;
}
#game-container {
    margin: 0px;
    max-width: 100%;
    padding: 0px;
    background-color: rgb(246,246,246);
}
#game-board-form {
    text-align: center;
    margin: 40px;
}
#about-container {
    text-align: center;
    padding: 75px 100px;
}
#controls {
    background-color: white;
    padding: 20px 75px;
    margin: 0 auto;
    box-shadow: 0 1px 6px rgb(0 0 0 / 8%);
}
.form-label {
    color: grey;
}
#mcts-algorithm-diagram {
    width: 800px;
}
#selection-expansion-container {
}
#selection-expansion-diagram {
    width: 600px;
}
#rollout-diagram {
    width: 600px;
}