<div id='about-container'>
    <h2>About</h2>
    <p>
        The classic game of Tic-Tac-Toe can be solved by applying the Monte Carlo Tree Search
        algorithm (MCTS).
    </p>
    <img id='mcts-algorithm-diagram' src="static/images/mcts.png" />

    <div id='selection-expansion-container'>
        <img id='selection-expansion-diagram' src="static/images/selection-expansion.png" />
    </div>
    <div id='rollout-container'>
        <img id='rollout-diagram' src="static/images/rollout.png" />
    </div>
</div>