<div id='about-container'>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam cumque expedita repellendus eos odio ex voluptate, enim, ipsum consequatur maiores error explicabo nulla impedit, doloremque illo id fugiat. Eum, dolorum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam rem ipsum consequuntur, debitis aliquid voluptatibus ipsam quis nostrum expedita doloremque at laudantium magni illum quo architecto vel impedit! Sunt, omnis?</p>
</div>