{% extends "base.html" %}
{% block content %}

<div id="header">
    Tic-Tac-Toe using Monte Carlo Tree Search
</div>


<form id='game-board-form' method="POST">
    <div id='game-state-info'>
        <p></p>
        <button type='submit' name='reset'>Try Again</button>
    </div>
    <div id="game-board">
        {% set count = namespace(value=0) %}
        {% for row in board_state %}
            {% for col in row %}
                {% set count.value = count.value + 1 %}
                <button 
                    id='{{ count.value }}' 
                    value='{{ count.value }}' 
                    class="cell" 
                    type='submit' 
                    name='cell'
                >
                </button>
            {% endfor %}
        {% endfor %}
    </div>
</form>

<div id="footer">
    &copy; 2022 Harry Baines
</div>

{% endblock content %}
